{% extends 'base.html.twig' %}
{% block title %}Add a movie{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
  {{form_start(form)}}
  
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">Title</label>
    {{form_widget(form.name)}}

  </div>
  <div class="form-group">
     <label for="form[score]" class="form-label mt-4">Score</label>
     {{form_widget(form.score)}}
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1" class="form-label mt-4">Mail</label>
   {{form_widget(form.mail)}}
  </div>

  {% if erreur %}
  <div><small>The title you entered is already known or doesn't exist. Please enter a new title</small></div>
  {% endif %}

  {{form_widget(form.save)}}  
  {{form_end(form)}}

</div>
{% endblock %}
