{% extends 'base.html.twig' %}
{% block title %}Home{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; width: 90%; font: 18px/1.5 sans-serif;  text-align: center; justify-content: center;}
    .flex {display:flex; flex-wrap: wrap; margin:2em 0;}
    .element {padding:10px;}
    .paginator{ bottom: 0;left: 50%;position: absolute;width: 100%;}
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {{form_start(form)}}
    {{form_widget(form.sortscoreasc)}} 
    {{form_widget(form.sortnameasc)}} 
    {{form_widget(form.sortscoredesc)}} 
    {{form_widget(form.sortnamedesc)}} 
    {{form_end(form)}}
<div class="flex">

    {% for movie in movies %}
    <div class="element">
      <a href="{{ path('fiche',{ 'id': movie.id })}}"><img src="{{movie.image}}}" height="400px"></img></a>
      <div>{{movie.name}}</div>
    </div>
    
    {% endfor %}


</div>


{% endblock %}
